html {

    background-image: url('./assets/helmetbg.png');
    background-repeat: repeat;   
}
.blink_me {
    animation: blinker 1s linear infinite;
    animation: color-change 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  @keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
  }
  body {
    display: grid;
    place-items: center;
  }
  .center {
    vertical-align:middle;
    font-size: 10vh;
    margin-top: 40vh;
}